header{background-color: blue; color: white;}
.container{background-color: lightgray;color:black}
.highlight{color:green}
.main-content{background-color: yellow;}
#id1{text-align: center}
a{text-decoration-line: none;}
.underline{text-decoration: dashed;text-decoration-line: underline;}
.bold-text{font-weight: bold;}
#intro{font-weight: 300;}
body{font-family: Arial,sans-serif;}
.custom-font{font-family:'Times New Roman',serif;}
h1{text-transform: uppercase;}
.capitalize-text{text-transform: capitalize;}